<mat-card class="first"> 
    <h1 class="ayush"><b>Your Profile Details</b></h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="../../../assets/customerimage.png" alt="" class="profile-image">
                    <h1 class="mt20"><b>Atharv Dhirde</b></h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- table-details -->
                        <table class="table text-center">
                            <tr>
                                <td><b>Username</b></td>
                                <td><b>Atharv@123</b></td>
                            </tr>
                            <tr>
                                <td><b>CustomerId</b></td>
                                <td><b>1001</b></td>
                            </tr>
                            <tr>
                                <td><b>ContactNo</b></td>
                                <td><b>8668874529</b></td>
                            </tr>
                            <tr>
                                <td><b>Role</b></td>
                                <td><b>Customer</b></td>
                            </tr>
                            <tr>
                                <td><b>Status</b></td>
                                <td><b>Active</b></td>
                            </tr>
                        </table>

                    </div>

                </div>
            </div>
        </div>
        
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">UPDATE</button>
        <button mat-raised-button color="accent">SHARE</button>
      </mat-card-actions>

</mat-card>

