<h1 class="second"><b>Washer Leaderboard</b></h1>
<mat-card class="mt10" *ngFor="let l of Leaderboard" class="first">
  
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            <h2> Rank is:{{l.rank}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <h2>Washer Name: {{l.washerName}}</h2>
        </mat-card-subtitle>
        <mat-card-subtitle>
            <h2>Water save in litres: {{l.waterSavedInLiters}} litres</h2> 
        </mat-card-subtitle>
        <mat-card-subtitle>
            <h2>Working in hrs: {{l.workingHrs}} hrs</h2>  
        </mat-card-subtitle>
        
    </mat-card-header>
   
</mat-card>
<!-- <div class="container text-center mt-20">
<button  mat-raised-button color="accent" class="ml20">Add</button>
</div> -->



