<h1 class="ghai"><b>Your Profile Details</b></h1>
<mat-card class="first"> 
    
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="../../../assets/default_image.png" alt="" class="profile-image">
                    <h1 class="mt20"><b>Ayush Rakesh Ghai</b></h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- table-details -->
                        <table class="table text-center">
                            <tr>
                                <td><b>Username</b></td>
                                <td><b>Ayush Rakesh Ghai</b></td>
                            </tr>
                            <tr>
                                <td><b>AdminId</b></td>
                                <td><b>1001</b></td>
                            </tr>
                            <tr>
                                <td><b>ContactNo</b></td>
                                <td><b>9850744224</b></td>
                            </tr>
                            <tr>
                                <td><b>Role</b></td>
                                <td><b>Admin</b></td>
                            </tr>
                            <tr>
                                <td><b>Status</b></td>
                                <td><b>Active</b></td>
                            </tr>
                        </table>

                    </div>

                </div>
            </div>
        </div>
        
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">UPDATE</button>
        <button mat-raised-button color="accent">SHARE</button>
      </mat-card-actions>

</mat-card>
