<mat-card class="first" class="card">
    <!-- <div id="sidebar">
        <div class="toggle-btn"> -->
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerLink="/customer" mat-list-item >
         
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item routerLink="/customer/profile">

            <mat-icon mat-list-icon>account_circle</mat-icon>profile
        </button>

        <button mat-list-item routerLink="/customer/categories">

            <mat-icon mat-list-icon>list</mat-icon>Categories
        </button>

        <button mat-list-item routerLink="/customer/washPack">

            <mat-icon mat-list-icon>add_shopping_cart</mat-icon>Wash-pack
        </button>

        <!-- <button mat-list-item routerLink="/customer/add-order">

            <mat-icon mat-list-icon>add_box</mat-icon>Add-To-Cart
        </button> -->

        <button mat-list-item routerLink="/customer/myOrders">

            <mat-icon mat-list-icon>shopping_bag</mat-icon>MyOrders
        </button>

        <!-- <button mat-list-item routerLink="/customer/payment-gateway">

            <mat-icon mat-list-icon>shopping_bag</mat-icon>Payment
        </button> -->


        <button mat-list-item routerLink="/login">

            <mat-icon mat-list-icon>logout</mat-icon>Logout
        </button>
    </mat-action-list>
<!-- </div>
</div> -->
</mat-card>

