.example-header-image {
    background-image: url('../../../../assets/podium.png');
    background-size: cover;
    image-resolution: 90%;
  }

.first{
    background: yellow;
    border: 2px solid black;
  }
  .ghai{
    text-align: center;
    background-color:greenyellow;;
    padding: 7px;
  }