<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" type="text/css" href="home.component.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <marquee class="first"  behavior="alternate"><h2>Welcome to Green Car Wash Service.Here you get customised car wash based on your need,We also have Premium WashPacks at low rate.</h2></marquee>
    <div class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Cars</a></li>
            <li><a href="#">PHOTO</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>
    <div class="search">
        <input type="text" placeholder="search">
    </div>

    <div class="content">
        <h2><b>C</b>.A.R</h2>
        <h2><b>W</b>.A.S.H</h2>
        <p><p><p>Tell us your car location and we will come to you<br> With Green Wash you can get your car washed wherever<br> you are at your convenience.Whether it's your home, salon, <br>office or any other place, your car wash is just <br>a few taps away. Few moments spend in signup can save<br> your valuable time. All you need to do is just <br>enter your car, address and payment details. </p>     
    </div>

    <div class="photo">
        <img src="../../../assets/bmw.jpg" alt="">
    </div>

    <div class="font">
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>   
        </ul>
    </div>

    <div class="button">
        <a href="#" class="btn">Learn More</a>
    </div>
   


        <!-- <section class="video1">
            <video controls>
                <source src="../../../assets/Black-Killer-BMW-Scene-Status-Video.mp4" type="video/mp4">
            </video>
            <!-- <video controls>
                <source src="../../../assets/pexels-tima-miroshnichenko-6872465.mp4" type="video/mp4"style=width:2%>
            </video>
            -->
        <!-- </section> --> -->
        

        <!-- <section class="video2">
        <video controls>
            <source src="../../../assets/pexels-tima-miroshnichenko-6872465.mp4" type="video/mp4">
        </video> --> -->
        
    <!-- </section> --> -->

    <div class="ayush">
        <img src="../../../assets/our_team.jpg" alt="" style="width:100%">
    </div>

    
        <footer>

            <div class="footer-content">
                <!--add all information -->
                <h3>Car Service</h3>
                <p>A car wash helps protect the paint on your car by clearing away acid rain, dirt and road salt that can cause rust and corrosion to your car. Additionally, if you are concerned about reducing your carbon footprint, washing your car manually actually uses more water than at a car wash..</p>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                 </ul>
                 <div class="footer-bottom">
                    <p>copyright &copy;2022 <a href="#">Car Service</a>  </p>
                    <div class="footer-menu">
                        <ul class="f-menu">
                           <li><a href="">Home</a></li>
                           <li><a href="">About</a></li>
                           <li><a href="">Contact</a></li>
                           <li><a href="">Blog</a></li>
                        </ul>
                       </div>
                </div>
                 </div>
                 
        </footer>
   
    
    </body>
    </html>