<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center" class="first">
                <h1><b>Welcome Nice to see you again!!!!!</b></h1>
                <p><b>Tell us your car location and we will come to you. With Green Wash, you can get your car washed wherever you are at your convenience. Whether it's your home, salon, office or any other place, your car wash is just a few taps away</b></p>
            </div>
            <div id="contentSection">
                
            </div>
        </div>
    </div>
</div>
<div id="sideImg">
    <img src="../../../../assets/ferrari.png "alt="" style="width:88%">
    </div> -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    
    <body>
        <div class="third">
        <h1><b>Welcome back Customer</b></h1>
        <h2>Nice to see you!!</h2>
         
        <img src="../../../../assets/ayush.PNG" alt="" style="width:100%" >
    </div>
    </body>
    </html>
    

