<mat-card class="card">
    <mat-action-list >
        <div mat-subheader>Menu</div>
        <button routerLink="/admin" mat-list-item >
         
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item routerLink="/admin/profile">

            <mat-icon mat-list-icon>account_circle</mat-icon>profile
        </button>

        <button mat-list-item routerLink="/admin/categories">

            <mat-icon mat-list-icon>list</mat-icon>Categories
        </button>
        <!-- <button mat-list-item routerLink="/admin/add-categories">

            <mat-icon mat-list-icon>add_circle_outline</mat-icon>add-Category
        </button> -->

        <button mat-list-item routerLink="/admin/washPack">

            <mat-icon mat-list-icon>add_shopping_cart</mat-icon>Wash-pack
        </button>
        <button mat-list-item routerLink="/admin/add-washPack">

            <mat-icon mat-list-icon>add</mat-icon>Add
        </button>
        <button mat-list-item routerLink="/admin/manageWasher">

            <mat-icon mat-list-icon>face</mat-icon>Manage-Washer
        </button>

        <button mat-list-item routerLink="/admin/viewCustomer">

            <mat-icon mat-list-icon>perm_identity</mat-icon>View-Customer
        </button>

        <button mat-list-item routerLink="/admin/leaderboard">

            <mat-icon mat-list-icon>leaderboard</mat-icon>Leaderboard
        </button>
        <button mat-list-item routerLink="/admin/manage-order">

            <mat-icon mat-list-icon>local_mall</mat-icon>Manage-Order
        </button>

        <button mat-list-item routerLink="/login">

            <mat-icon mat-list-icon>logout</mat-icon>Logout
        </button>
    </mat-action-list>
</mat-card>



